/*----------------------------------------
    IMPORT BOOTSTRAP
-----------------------------------------*/
@import "/node_modules/bootstrap/scss/bootstrap";

/*----------------------------------
    IMPORT CUSTOM SCSS FILES
----------------------------------*/
@import "./partials/layout.scss";

/*------------------------------------
    IMPORT MARKERS MAP TOM TOM STYLE
------------------------------------*/
@import "./markers-map.scss";
