//  CUSTOM GRAPHIC SPACER

.spacer-dot {
  color: var(--divider-color);
  font-size: 1.125rem;
  font-weight: 400 !important;
  margin: 0.5rem 0.5rem 0rem;
}

.line-space-divider {
  padding: 1.25rem 0;
  border-bottom: 1px solid var(--divider-color);
}

// CUSTOM CONTAINERS

.ms-page-container {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

.ms-page-container-small {
  width: 100%;
  max-width: 1280px;
  margin: auto;
}
