//  CUSTOM GRAPHIC SPACER

.spacer-dot {
  color: rgb(113, 113, 113);
  font-size: 1.125rem;
  font-weight: 400 !important;
  margin: 0.5rem 0.5rem 0rem;
}

.line-space-divider {
  padding-bottom: 3.125rem;
  border-bottom: 1px solid rgb(228, 228, 228);
}
