/*-----------------------------
        RESPONSIVE SHOW
-----------------------------*/

// 1400px BREAKPOINT

@media screen and (max-width: 1400px) {

        // CONTAINERS
        .ms-page-container-small{
                width: 100%;
                max-width: 1080px;
        }

        // // INDEX HOMEPAGE
        .grid{
                grid-template-columns: repeat(4, 1fr) !important;
        }
        .chi-siamo{
                & .card{
                        width: 90% !important;
                }
        }
        
        // LEFT COLUMN SHOW   
        .images-box{
                width: 50% !important;
        }

        // RIGHT COLUMN CONTACTS SHOW       
        // CONTACTS CARD
        .container-card{
                width: 80% !important;
        }
}

// 1200px BREAKPOINT    

@media screen and (max-width: 1200px) {
        
        // CONTAINERS
        .ms-page-container-small{
                width: 100%;
                max-width: 992px;
        }

        // // INDEX HOMEPAGE
        .grid{
                grid-template-columns: repeat(2, 1fr) !important;
        }

        // LEFT COLUMN SHOW   
        .images-box{
                width: 60% !important;
        }
        .services{
                .w-33{
                        width: 50% !important;
                }
        }


        // RIGHT COLUMN CONTACTS SHOW
        // CONTACTS CARD
        .date-check{
                flex-direction: column;

                .check-left{
                        margin-bottom: 10px !important;
                }
        }
}

//  991px BREAKPOINT

@media screen and (max-width: 991px) {

        // CONTAINERS
        .ms-page-container-small{
                width: 100%;
                max-width: 720px;
        }        

        .hero{
                img{
                        height: 300px !important;
                }
        }

        //INDEX HOMEPAGE
        .chi-siamo{
                h3{
                        font-size: 30px !important;
                }
                h4{
                        font-size: 18px !important;
                }
                p{
                        font-size: 14px !important;
                }
        }


        // LEFT COLUMN SHOW   
        .images-box{
                width: 100% !important;
        }


        /*----------------------------*/
        
        // RIGHT COLUMN CONTACTS SHOW
        .col-div{
                .col-right{
                        margin-top: 20px !important;
                }
        }
        
        // CONTACTS CARD
        .container-card{
                width: 80% !important;

                .date-check{
                        flex-direction:row;

                        .check-left{
                                margin-bottom: 0px !important;
                        }
                }
        }
}

// 768px BREAKPOINT
@media screen and (max-width: 767px) {

        //INDEX HOMEPAGE
        .chi-siamo{
                h3{
                        font-size: 30px !important;
                }
                .business-item{
                        display: none !important;
                }
        }

        // FOOTER
        .footer-top{
                display: none !important;
        }
}

// 667px BREAKPOINT
@media screen and (max-width: 667px) {

        //INDEX HOMEPAGE
        .grid{
                grid-template-columns: repeat(1, 1fr) !important;
        }
        .page-navigation{
                margin-top: 40px !important;
        }
        .single-apartment{
                margin: 0 4px !important;
                &:not(:first-child) {
                        margin-top: 40px !important;
                }
        }
        .hero{
                img{
                        height: 280px !important;
                }
                h4{
        
                        font-size: 18px !important;
                }
        }
        .chi-siamo{
                & .card{
                        top: 37% !important;
                }

        }
}

// 500px BREAKPOINT

@media screen and (max-width: 500px) {
        // HEADER
        .h-top-right{
                width: 30% !important;
        }

        // CONTAINERS
        .ms-page-container-small{
                width: 100%;
                max-width: 400px;
        } 

        
        // INDEX HOMEPAGE
        .hero{
                img{
                        height: 240px !important;
                }
                h4{
 
                        font-size: 16px !important;
                        width: 70% !important;
                }
        } 
        .chi-siamo{
                & .card{
                        top: 20% !important;
                        transform: translate(-50%, 0%) !important; 
                }
                hr{
                        display: none !important;
                }
                .about-us-item{
                        display: none !important;
                }
        }
        
        // LEFT COLUMN SHOW   
        .images-box{
                width: 100% !important;
        }
        .services{
                .w-33{
                        width: 100% !important;
                }
        }
        
        // RIGHT COLUMN CONTACTS SHOW
        // CONTACTS CARD
        .container-card{
                width: 100% !important;

                .date-check{
                        flex-direction: column;

                        .check-left{
                                margin-bottom: 10px !important;
                        }
                }
        }
}

// 320px BREAKPOINT
@media screen and (max-width: 320px) {
        // HEADER
        .h-top-right{
                width: 30% !important;

        }

        // CONTAINERS
        .ms-page-container-small{
                width: 100%;
                max-width: 320px !important;
                padding: 0 6px !important;
        } 

        // INDEX HOMEPAGE
        .hero{
                img{
                        height: 200px !important;
                }
                h4{
                        font-size: 16px !important;
                        width: 80% !important;
                }
        }

        .chi-siamo{
                & .card{
                        top: 10% !important;
                        transform: translate(-50%, 0) !important; 
                }
                h3{
                        display: none !important;
                        font-size: 20px !important;
                }
        }
}


/*-----------------------------
   RESPONSIVE ADVANCE SEARCH
-----------------------------*/

// 1400px BREAKPOINT

@media screen and (max-width: 1400px) {

        // CONTAINERS
        .ms-page-container{
                width: 100%;
                max-width: 1080px;
        }        
        
        // SERVIZI
        .all-services{
                width: 1080px;
        
                & .container-service{
                    width: 100%;
                    overflow-x: auto;
                    display: flex;
                    flex-direction: row;
                }
            }
}

// 1200px BREAKPOINT    

@media screen and (max-width: 1200px) {
        
        // CONTAINERS
        .ms-page-container{
                width: 100%;
                max-width: 992px;
        }

         // SERVIZI
         .all-services{
                width: 992px;
        
                & .container-service{
                    width: 100%;
                    overflow-x: auto;
                    display: flex;
                    flex-direction: row;
                }
            }
}

//  991px BREAKPOINT

@media screen and (max-width: 991px) {

        // CONTAINERS
        .ms-page-container{
                width: 100%;
                max-width: 720px;
        }   

         //FILTER
         .rooms-beds-container{
                display: flex !important;
                flex-direction: row !important;
        }
        
       // SERVIZI
       .all-services{
                width: 720px;

                & .container-service{
                width: 100%;
                overflow-x: auto;
                display: flex;
                flex-direction: row;
                }
        }

        // CONTAINER
        .card-container{
                margin: 0;
                display: flex;
                flex-direction: column;
                height: auto;
                width: 100%;

                & .col-left-card{
                        width: 100% !important;
                }

                & .col-right-map{
                        display: none;
                }

               
        } 

}

// 500px BREAKPOINT

@media screen and (max-width: 500px) {
        // HEADER
        .h-top-right{
                width: 30% !important;
        }

        // CONTAINERS
        .ms-page-container{
                width: 100%;
                max-width: 400px;
        } 

        //FILTER
        .rooms-beds-container{
                display: flex !important;
                flex-direction: row !important;
        }
        
       // SERVIZI
       .all-services{
                width: 400px;

                & .container-service{
                width: 100%;
                overflow-x: auto;
                display: flex;
                flex-direction: row;
                }
        }

        // CONTAINER
        .card-container{
                margin: 0;
                display: flex;
                flex-direction: column;
                height: auto;
                width: 100%;

                & .col-left-card{
                        width: 100% !important;
                }

                & .col-right-map{
                        display: none;
                }

               
        } 
}

// 520px BREAKPOINT
@media screen and (max-width: 320px) {
        // HEADER
        .h-top-right{
                width: 30% !important;

        }

        // CONTAINERS
        .ms-page-container-small{
                width: 100%;
                max-width: 320px !important;
        } 
}