/*-----------------------------
        RESPONSIVE SHOW
-----------------------------*/

// 1400px BREAKPOINT

@media screen and (max-width: 1400px) {

        // CONTAINERS
        .ms-page-container-small{
                width: 100%;
                max-width: 1080px;
        }        
        
        // LEFT COLUMN SHOW   
        .images-box{
                width: 50% !important;
        }

        // RIGHT COLUMN CONTACTS SHOW       
        // CONTACTS CARD
        .container-card{
                width: 80% !important;
        }
}

// 1200px BREAKPOINT    

@media screen and (max-width: 1200px) {
        
        // CONTAINERS
        .ms-page-container-small{
                width: 100%;
                max-width: 992px;
        }

        // LEFT COLUMN SHOW   
        .images-box{
                width: 60% !important;
        }
        .services{
                .w-33{
                        width: 50% !important;
                }
        }

        // RIGHT COLUMN CONTACTS SHOW
        // CONTACTS CARD
        .date-check{
                flex-direction: column;

                .check-left{
                        margin-bottom: 10px !important;
                }
        }
}

//  991px BREAKPOINT

@media screen and (max-width: 991px) {

        // CONTAINERS
        .ms-page-container-small{
                width: 100%;
                max-width: 720px;
        }        

        // LEFT COLUMN SHOW   
        .images-box{
                width: 100% !important;
        }


        /*----------------------------*/
        
        // RIGHT COLUMN CONTACTS SHOW
        .col-div{
                .col-right{
                        margin-top: 20px !important;
                }
        }
        
        // CONTACTS CARD
        .container-card{
                width: 80% !important;

                .date-check{
                        flex-direction:row;

                        .check-left{
                                margin-bottom: 0px !important;
                        }
                }
        }
}

// 768px BREAKPOINT
@media screen and (max-width: 767px) {
        // FOOTER
        .footer-top{
                display: none !important;
        }
}

// 500px BREAKPOINT

@media screen and (max-width: 500px) {
        // HEADER
        .h-top-right{
                width: 30% !important;
        }

        // CONTAINERS
        .ms-page-container-small{
                width: 100%;
                max-width: 400px;
        } 
        
        // LEFT COLUMN SHOW   
        .images-box{
                width: 100% !important;
        }
        .services{
                .w-33{
                        width: 100% !important;
                }
        }
        
        // RIGHT COLUMN CONTACTS SHOW
        // CONTACTS CARD
        .container-card{
                width: 100% !important;

                .date-check{
                        flex-direction: column;

                        .check-left{
                                margin-bottom: 10px !important;
                        }
                }
        }
}

// 520px BREAKPOINT
@media screen and (max-width: 320px) {
        // HEADER
        .h-top-right{
                width: 30% !important;

        }

        // CONTAINERS
        .ms-page-container-small{
                width: 100%;
                max-width: 320px !important;
        } 
}