/*-----------------------------
        RESPONSIVE SHOW
-----------------------------*/

// 1400px BREAKPOINT

@media screen and (max-width: 1400px) {

        // CONTAINERS
        .ms-page-container-small{
                width: 100%;
                max-width: 1080px;
        }        
        
        // LEFT COLUMN SHOW   
        .images-box{
                width: 50% !important;
        }

        // RIGHT COLUMN CONTACTS SHOW       
        // CONTACTS CARD
        .container-card{
                width: 80% !important;
        }
}

// 1200px BREAKPOINT    

@media screen and (max-width: 1200px) {
        
        // CONTAINERS
        .ms-page-container-small{
                width: 100%;
                max-width: 992px;
        }

        // LEFT COLUMN SHOW   
        .images-box{
                width: 60% !important;
        }
        .services{
                .w-33{
                        width: 50% !important;
                }
        }

        // RIGHT COLUMN CONTACTS SHOW
        // CONTACTS CARD
        .date-check{
                flex-direction: column;

                .check-left{
                        margin-bottom: 10px !important;
                }
        }
}

//  991px BREAKPOINT

@media screen and (max-width: 991px) {

        // CONTAINERS
        .ms-page-container-small{
                width: 100%;
                max-width: 720px;
        }        

        // LEFT COLUMN SHOW   
        .images-box{
                width: 100% !important;
        }


        /*----------------------------*/
        
        // RIGHT COLUMN CONTACTS SHOW
        .col-div{
                .col-right{
                        margin-top: 20px !important;
                }
        }
        
        // CONTACTS CARD
        .container-card{
                width: 80% !important;

                .date-check{
                        flex-direction:row;

                        .check-left{
                                margin-bottom: 0px !important;
                        }
                }
        }
}

// 768px BREAKPOINT
@media screen and (max-width: 767px) {
        // FOOTER
        .footer-top{
                display: none !important;
        }
}

// 500px BREAKPOINT

@media screen and (max-width: 500px) {
        // HEADER
        .h-top-right{
                width: 30% !important;
        }

        // CONTAINERS
        .ms-page-container-small{
                width: 100%;
                max-width: 400px;
        } 
        
        // LEFT COLUMN SHOW   
        .images-box{
                width: 100% !important;
        }
        .services{
                .w-33{
                        width: 100% !important;
                }
        }
        
        // RIGHT COLUMN CONTACTS SHOW
        // CONTACTS CARD
        .container-card{
                width: 100% !important;

                .date-check{
                        flex-direction: column;

                        .check-left{
                                margin-bottom: 10px !important;
                        }
                }
        }
}

// 520px BREAKPOINT
@media screen and (max-width: 320px) {
        // HEADER
        .h-top-right{
                width: 30% !important;

        }

        // CONTAINERS
        .ms-page-container-small{
                width: 100%;
                max-width: 320px !important;
        } 
}


/*-----------------------------
   RESPONSIVE ADVANCE SEARCH
-----------------------------*/

// 1400px BREAKPOINT

@media screen and (max-width: 1400px) {

        // CONTAINERS
        .ms-page-container{
                width: 100%;
                max-width: 1080px;
        }        
        
        // SERVIZI
        .all-services{
                width: 1080px;
        
                & .container-service{
                    width: 100%;
                    overflow-x: auto;
                    display: flex;
                    flex-direction: row;
                }
            }
}

// 1200px BREAKPOINT    

@media screen and (max-width: 1200px) {
        
        // CONTAINERS
        .ms-page-container{
                width: 100%;
                max-width: 992px;
        }

         // SERVIZI
         .all-services{
                width: 992px;
        
                & .container-service{
                    width: 100%;
                    overflow-x: auto;
                    display: flex;
                    flex-direction: row;
                }
            }
}

//  991px BREAKPOINT

@media screen and (max-width: 991px) {

        // CONTAINERS
        .ms-page-container{
                width: 100%;
                max-width: 720px;
        }   

         //FILTER
         .rooms-beds-container{
                display: flex !important;
                flex-direction: row !important;
        }
        
       // SERVIZI
       .all-services{
                width: 720px;

                & .container-service{
                width: 100%;
                overflow-x: auto;
                display: flex;
                flex-direction: row;
                }
        }

        // CONTAINER
        .card-container{
                margin: 0;
                display: flex;
                flex-direction: column;
                height: auto;
                width: 100%;

                & .col-left-card{
                        width: 100% !important;
                }

                & .col-right-map{
                        display: none;
                }

               
        } 

}

// 500px BREAKPOINT

@media screen and (max-width: 500px) {
        // HEADER
        .h-top-right{
                width: 30% !important;
        }

        // CONTAINERS
        .ms-page-container{
                width: 100%;
                max-width: 400px;
        } 

        //FILTER
        .rooms-beds-container{
                display: flex !important;
                flex-direction: row !important;
        }
        
       // SERVIZI
       .all-services{
                width: 400px;

                & .container-service{
                width: 100%;
                overflow-x: auto;
                display: flex;
                flex-direction: row;
                }
        }

        // CONTAINER
        .card-container{
                margin: 0;
                display: flex;
                flex-direction: column;
                height: auto;
                width: 100%;

                & .col-left-card{
                        width: 100% !important;
                }

                & .col-right-map{
                        display: none;
                }

               
        } 
}

// 520px BREAKPOINT
@media screen and (max-width: 320px) {
        // HEADER
        .h-top-right{
                width: 30% !important;

        }

        // CONTAINERS
        .ms-page-container-small{
                width: 100%;
                max-width: 320px !important;
        } 
}