/*-----------------------------
        HEADER/FOOTER SHOW
-----------------------------*/

// 768px BREAKPOINT
@media screen and (max-width: 767px) {
        // FOOTER
        .footer-top{
                display: none !important;
        }
}

@media screen and (max-width: 500px) {
        // HEADER
        .h-top-right{
                width: 30% !important;
        }
}

// 320px BREAKPOINT
@media screen and (max-width: 320px) {
        // HEADER
        .h-top-right{
                width: 30% !important;

        }
}


/*-----------------------------
        RESPONSIVE SHOW
-----------------------------*/

#apartment-page{

// 1400px BREAKPOINT

        @media screen and (max-width: 1440px) {

                // CONTAINERS
                .ms-page-container-small{
                        width: 100%;
                        max-width: 1080px;
                }
                
                // LEFT COLUMN SHOW   
                .images-box{
                        width: 100% !important;
                }

                // RIGHT COLUMN CONTACTS SHOW       
                // CONTACTS CARD
                .container-card{
                        width: 80% !important;
                }
        }

        // 1200px BREAKPOINT    

        @media screen and (max-width: 1200px) {
                
                // CONTAINERS
                .ms-page-container-small{
                        width: 100%;
                        max-width: 992px;
                }

                // LEFT COLUMN SHOW   
                .images-box{
                    width: 100% !important;
                }
                .services{
                        .w-33{
                                width: 50% !important;
                        }
                }


                // RIGHT COLUMN CONTACTS SHOW
                // CONTACTS CARD
                .date-check{
                        flex-direction: column;

                        .check-left{
                                margin-bottom: 10px !important;
                                border-right: none !important;
                        }
                        .check-right{
                                border-left: none !important;
                        }
                }
        }

        //  991px BREAKPOINT

        @media screen and (max-width: 991px) {

                // CONTAINERS
                .ms-page-container-small{
                        width: 100%;
                        max-width: 720px;
                }        


                // LEFT COLUMN SHOW   
                .images-box{
                        width: 100% !important;
                        .image-box{
                            width: 100%;
                        }
                        .map-box {
                            display: none;
                        }
                }



                /*----------------------------*/
                
                // RIGHT COLUMN CONTACTS SHOW
                .col-div{
                        .col-right{
                                margin-top: 20px !important;
                        }
                }
                
                // CONTACTS CARD
                .container-card{
                        width: 80% !important;

                        .date-check{
                                flex-direction:row;
                                justify-content: space-around !important;

                                .check-left, .check-right{
                                        width: 50%;
                                        margin-bottom: 0px !important;
                                        & input {
                                                width: 50%;
                                        }
                                }
                                .check-left{
                                        border-right: 1px solid  rgba(0, 0, 0, 0.346) !important;
                                }
                        }
                }
        }

        // 667px BREAKPOINT
        @media screen and (max-width: 667px) {
                .date-check{
                        .check-left, .check-right{
                                & input {
                                        width: 70% !important;
                                }
                        }
                }
        }

        // 500px BREAKPOINT

        @media screen and (max-width: 500px) {

                // CONTAINERS
                .ms-page-container-small{
                        width: 100%;
                        max-width: 400px;
                } 
                
                // LEFT COLUMN SHOW   
                .images-box{
                        width: 100% !important;
                }
                .services{
                        .w-33{
                                width: 100% !important;
                        }
                }
                
                // RIGHT COLUMN CONTACTS SHOW
                // CONTACTS CARD
                .container-card{
                        width: 100% !important;

                        .date-check{
                                flex-direction: column;

                                .check-left{
                                        margin-bottom: 10px !important;
                                        border: none !important;
                                }

                                .check-left, .check-right {
                                        & input {
                                                width: 95% !important;
                                        }
                                }
                        }
                }
        }

        // 320px BREAKPOINT
        @media screen and (max-width: 320px) {

                // CONTAINERS
                .ms-page-container-small{
                        width: 100%;
                        max-width: 320px !important;
                        padding: 0 6px !important;
                } 
        }
}

/*-----------------------------
        RESPONSIVE INDEX
-----------------------------*/

#index-home{
                // 1400px BREAKPOINT

        @media screen and (max-width: 1440px) {

                .ms-page-container{
                        width: 100%;
                        max-width: 1200px !important;
                }
                

                // // INDEX HOMEPAGE
                .grid{
                        grid-template-columns: repeat(4, 1fr) !important;
                }
                .chi-siamo{
                        & .card{
                                width: 90% !important;
                        }
                }
        }

        // 1200px BREAKPOINT    

        @media screen and (max-width: 1200px) {
                // // INDEX HOMEPAGE
                .grid{
                        grid-template-columns: repeat(2, 1fr) !important;
                }
        }

        //  991px BREAKPOINT

        @media screen and (max-width: 991px) {  

                .hero{
                        img{
                                height: 300px !important;
                        }
                }

                //INDEX HOMEPAGE
                .chi-siamo{
                        h3{
                                font-size: 30px !important;
                        }
                        h4{
                                font-size: 18px !important;
                        }
                        p{
                                font-size: 14px !important;
                        }
                }
        }

        // 768px BREAKPOINT
        @media screen and (max-width: 767px) {

                //INDEX HOMEPAGE
                .chi-siamo{
                        h3{
                                font-size: 30px !important;
                        }
                        .business-item{
                                display: none !important;
                        }
                }
        }

        // 667px BREAKPOINT
        @media screen and (max-width: 667px) {

                //INDEX HOMEPAGE
                .grid{
                        grid-template-columns: repeat(1, 1fr) !important;
                }
                .page-navigation{
                        margin-top: 40px !important;
                }
                .single-apartment{
                        margin: 0 4px !important;
                        &:not(:first-child) {
                                margin-top: 40px !important;
                        }
                }
                .hero{
                        img{
                                height: 280px !important;
                        }
                        h4{
                
                                font-size: 18px !important;
                        }
                }
                .chi-siamo{
                        & .card{
                                top: 37% !important;
                        }
                }
        }

        // 500px BREAKPOINT

        @media screen and (max-width: 500px) {
                // INDEX HOMEPAGE
                .hero{
                        img{
                                height: 240px !important;
                        }
                        h4{
        
                                font-size: 16px !important;
                                width: 70% !important;
                        }
                } 
                .chi-siamo{
                        & .card{
                                top: 20% !important;
                                transform: translate(-50%, 0%) !important; 
                        }
                        hr{
                                display: none !important;
                        }
                        .about-us-item{
                                display: none !important;
                        }
                }
        }

        // 320px BREAKPOINT
        @media screen and (max-width: 320px) {
                // INDEX HOMEPAGE
                .hero{
                        img{
                                height: 200px !important;
                        }
                        h4{
                                font-size: 16px !important;
                                width: 80% !important;
                        }
                }

                .chi-siamo{
                        & .card{
                                top: 10% !important;
                                transform: translate(-50%, 0) !important; 
                        }
                        h3{
                                display: none !important;
                                font-size: 20px !important;
                        }
                }
        }
}

/*-----------------------------
   RESPONSIVE ADVANCE SEARCH
-----------------------------*/
#advance-search {
        // 1440px in poi..
        @media screen and (min-width: 1440px){
                // CONTAINERS
                .ms-page-container{
                    max-width: 1300px !important;
                }     
                .rooms-beds-container{
                    max-width: 1300px !important;
                }   
                
                // SERVIZI
                .all-services{
                    max-width: 1300px !important;
            
                    & .container-service{
                        width: 1000px;
                        overflow-x: auto;
                        display: flex;
                        flex-direction: row;
                    }
                }
        }
        
        // 1440px BREAKPOINT
        
        @media screen and (max-width: 1440px) {
        
                // CONTAINERS
                .ms-page-container{
                    max-width: 1000px !important;
                }     
                .rooms-beds-container{
                    max-width: 1000px !important;
                }   
                
                // SERVIZI
                .all-services{
                    max-width: 1000px !important;
            
                    & .container-service{
                        width: 1000px;
                        overflow-x: auto;
                        display: flex;
                        flex-direction: row;
                    }
                }
        }
        
        // 1200px BREAKPOINT    
        
        @media screen and (max-width: 1200px) {
                
                // CONTAINERS
                .ms-page-container{
                        max-width: 900px;
                }
        
                 // SERVIZI
                 .all-services{
                        max-width: 900px;
                
                        & .container-service{
                            width: 900px;
                            overflow-x: auto;
                            display: flex;
                            flex-direction: row;
                        }
                    }
        }
        
        //  1024px BREAKPOINT
        @media screen and (max-width: 1024px){
            // CONTAINERS
            .ms-page-container {
                max-width: 900px;
            }
            // SERVIZI
            .all-services{
                margin: auto;
                max-width: 900px;
            }
        }
        //  991px BREAKPOINT
        @media screen and (max-width: 991px) {
        
                // CONTAINERS
                .ms-page-container{
                        max-width: 720px !important;
                }   
        
                 //FILTER
                 .rooms-beds-container{
                        max-width: 720px !important;
                        display: flex !important;
                        flex-direction: row !important;
                }
                
               // SERVIZI
               .all-services{
                        max-width: 720px !important;
        
                        & .container-service{
                        width: 100%;
                        overflow-x: auto;
                        display: flex;
                        flex-direction: row;
                        }
                }
        
                // CONTAINER
                .card-container{
                        margin: 0;
                        display: flex;
                        flex-direction: column;
                        height: auto;
                        width: 100%;
        
                        & .col-left-card{
                                width: 100% !important;
                        }
        
                        & .col-right-map{
                                display: none;
                        }
        
                       
                } 
        
        }
        // 768px BREAKPOINT 
        @media screen and (max-width: 768) {
        
            //CONTAINERS
            .rooms-beds-container {
                border-radius: 20px !important;
                width: 80% !important;
                margin: auto;
            }
            //SERVIZI
            .all-services{
                width: 90% !important;
            }
        
        }
        // 769px BREAKPOINT 
        @media screen and (max-width: 767px){
            .rooms-beds-container {
                border-radius: 20px !important;
            }
        
        }
        
        // 500px BREAKPOINT
        
        @media screen and (max-width: 500px) {
                // HEADER
                .h-top-right{
                        width: 30% !important;
                }
        
                // CONTAINERS
                .ms-page-container{
                        width: 100%;
                        max-width: 400px;
                } 
        
                //FILTER
                .rooms-beds-container{
                        display: flex !important;
                        flex-direction: row !important;
                        //border-radius: 20px !important;
                        //box-shadow: none !important;
                        justify-content: center !important;
                        width: 100% !important;
                        margin: auto !important;
                        margin-bottom: 20px !important;
                }
                
               // SERVIZI
               .all-services{
                        width: 90%;
        
                        & .container-service{
                        width: 100%;
                        overflow-x: auto;
                        display: flex;
                        flex-direction: row;
                        }
                }
        
                // CONTAINER
                .card-container{
                        margin: 0;
                        display: flex;
                        flex-direction: column;
                        height: auto;
                        width: 100%;
        
                        & .col-left-card{
                                width: 100% !important;
                        }
        
                        & .col-right-map{
                                display: none;
                        }
        
                       
                } 
        }
        
        
        
        // 425px BREAKPOINT
        @media screen and (max-width: 425px) {
            // MS PAGE CONTAINER
            .rooms-beds-container {
                border-radius: 20px !important;
                //box-shadow: none !important;
                justify-content: center !important;
                width: 100% !important;
                margin: auto !important;
                margin-bottom: 20px !important;
            }
            .form-label {
                width: 60%;
                justify-content: flex-start !important;
            }
            .form-range {
                justify-content: flex-start !important;
            }
            .all-services {
                width: 90% !important;
                margin: 20px auto !important;
            }
        }
        
        
        // 375px BREAKPOINT
        @media screen and (max-width: 375px){
            .rooms-beds-container{
                justify-content: center !important;
                width: 100% !important;
                margin: auto !important;
            }
            .all-services {
                width: 90% !important;
                margin: 20px auto !important;
            }
        }
        
        
        // 320px BREAKPOINT
        @media screen and (max-width: 320px) {
                // HEADER
                .h-top-right{
                    width: 30% !important;
                }
        
                // CONTAINERS
                .rooms-beds-container{
                    margin-bottom: 20px !important;
                }
                .all-services{
                    margin-top: 20px;
                }
                .ms-page-container-small{
                        width: 100%;
                        max-width: 320px !important;
                } 
        }
}